body {
  font-family: 'Faustina', serif;
}

.container {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-width: 200px;
     -moz-column-width: 200px;
          column-width: 200px;
    -webkit-column-gap: 40px;
     -moz-column-width: 40px;
          column-width: 40px;
}

p {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
}
