body {
  font-family: 'Faustina', serif;
}

.container {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-width: 200px;
     -moz-column-width: 200px;
          column-width: 200px;
}

p {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5em;
  margin-right: 5em;
}
